




/*PAR MUMS*/
/*GALERIJA*/

.gallery {
	height: 800px;
	margin-left: 22px;
}

.gallery video {
	margin: 20px;
	margin-top: 80px;
	width: 250px;
	height: auto;

}

.gallery img {
	margin: 20px;
	width: 250px;
	height: auto;
}



.polaroid {
  width: 290px;
  height: 290px;
  margin: 30px;
  float: left;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.about_text {
	width: 60%;
	margin: auto;
	margin-top: 100px;
	
}
/*INDEX HTML*/

.box {
	width: 90%;
	margin: auto;
}

.top_text {
	float: left;
	width: 50%;
    padding: 0;
    margin-top: 100px;
}

.pictures {
	width: 50%;
}



.left_box {
	margin-right: 300px;
	padding-bottom: 30px;
}

.right_box {
	margin-left: 350px;
	padding-bottom: 30px;
}

/*KONTAKTI*/

.contact_box {
	width: 800px;
	margin: auto;
	padding-top: 100px;
	

}

#googleMap {
	width: 100%;
	height: 30px;
	margin-top: 400px;
	margin-bottom: 200px;
	padding-bottom: 300px;
}

#contact_left {
	float: left;
}

#contact_right {
	float: right;
}

/*STANDART*/

.main {
	font-size: 15pt;
	margin: auto;
	width: 1100px;
	box-shadow: 0 4px 8px 0 #b3b3cc, 0 6px 20px 0 #b3b3cc;
	min-height: 1000px;
}


#foot {
	height: 100px;
	background-color: #7b9d84;
	color: white;
	text-align: center;
	width: 1100px;
	margin: auto;
}

hr {
	border-width: 10px;
	width: 900px;
	margin-bottom: 100px;
	margin-top: 40px
}

.header {
	margin: auto;
	width: 1100px;
}
/*MENU*/
.menu {
	
	line-height: 1;
	position: relative;
	font-size: 20pt;
		
}

.menu ul {
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	padding-left: 20%;
	background-color: #7b9d84;
	
}

.menu li {
	display: block;
	float: left;
	overflow: hidden;
	padding: 5px;
	
}

.menu li a {
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 30px;
}

.menu li a:hover {
	background-color: #415847;
}

/*PROJEKTI*/
.project {
	height: 900px;
}

.project_left {
	width: 20%;
	float: left;

}

.project_left ul {
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	padding-left: 20%;
	background-color: #7b9d84;
	height: 900px;
}

.project_left li {
	display: block;
	float: left;
	overflow: hidden;
	padding: 5px;
	
}

.project_left li a {
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 10px;
	padding-right: 80px;

}

.project_left li a:hover {
	background-color: #415847;
}

.project_right {
	width: 70%;
	margin-right: 60px;
	margin-top: 40px;
	float: right;
}

.project hr {
	border-width: 10px;
	width: 700px;
	margin-bottom: 100px;
	margin-top: 40px;
}

.project_text {
	float: left;
	width: 50%;
    padding: 0;
}

.project_right img {
	width: 300px;
	height: auto;
}

.gads {
	font-size: 30pt;
	color: gray;
}